venv
.idea
*.xlsm
*.xlsx
*.geojson
*.json
*/data
*/data/*
*rootkey.csv
logs.txt
*.zip
*.tsv
*.rar
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
